body {
    background-image: url('TXE.png');
    background-size: cover; /* Resmi ekrana tam olarak yay */
    background-position: center center; /* Resmi ekranın ortasına yerleştir */
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh; /* Sayfa yüksekliğini tam doldur */
    margin: 0; /* Sayfa kenar boşluklarını sıfırlayalım */
}
.bar {
    background-color: rgba(0, 0, 0, 0.6); /* Siyah renkte %60 opaklık */
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px;
}
.bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.dosya{
    background-color: rgba(196, 194, 194, 0.6);
    position: absolute;
    text-align: center;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-content: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-45%);
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;
}
.dosya:hover{
    transition: 0.5s;
    border-radius: 10px;
}
.section{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
header .logo{
    font-size: 18px;
    color: silver;
}